/* GERAL - COMEÇO */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #fffcf7;
}
/* GERAL - FIM */

/* HEADER - COMEÇO */
#img-nav {
    width: 13vw;
}

#linha-navbar {
    border-width: 3px;
    border-color: #7867BF;
    margin-top: 0;
}
/* HEADER - FIM */

/* APRESENTAÇÃO - COMEÇO */
.botao-vamos {
    background-color: black;
    border: none;
    color: #fffcf7;
    border-radius: 50px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.botao-vamos:hover {
    background-color: #7867BF;
    color: black;
    
}

.titulo-apresentacao {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 4.7rem;
}

.texto-apresentacao {
    font-size: 1.75rem;
    padding: 0;
}

/* Adequação da fonte para telas menores */
@media (max-width: 769px) {
    .titulo-apresentacao{
        font-size: 2.5rem;
    }
    .texto-apresentacao{
        padding: 0 22px;
        font-size: 1rem;
    }
}

/* APRESENTAÇÃO - FIM */

/* CARROSSEL - COMEÇO */
.div-carrossel-informativo{
    margin: 5% 150px;
}

.banner-carrossel{
    border-radius: 50px;
    background-color: black;
    width: 100%;
    height: 500px;
    color: #fffcf7;
}

@media (max-width: 769px){
    .div-carrossel-informativo{
        margin: 5% 50px;
    }
}

@media (max-width: 426px){
    .div-carrossel-informativo{
        margin: 5% 20px;
    }
}

@media (max-width: 320px){
    .div-carrossel-informativo{
        margin: 5% 15px;
    }
}

#img-banner-1{
    width: 300px;
}

@media (max-width: 1025px){
    #img-banner-1{
        width: 200px;
    }
}

.titulo-carrossel{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.texto-carrossel{
    font-size: 25px;
}

@media (max-width: 1025px){
    .texto-carrossel{
        font-size: 20px;
    }
}

@media (max-width: 426px){
    .texto-carrossel{
        font-size: 15px;
    }
    .titulo-carrossel{
        font-size: 22px;
    }
}

#img-banner-2{
    padding: 5px;
}

@media (max-width: 1025px){
    #img-banner-2{
        width: 170px;
        padding-right: 0px;
    }
}
/* CARROSSEL - FIM */

/* RODAPÉ - COMEÇO */
#rodape{
    text-align: center;
    padding: 20px;
    bottom: 0;
    width: 100%;
    background-color: #7867BF;
    color: black;
}
/* RODAPÉ - FIM */

/* AUXÍLIO PARA GRID */
.azul{
    background-color: blue;
}

.vermelho{
    background-color: red;
}

.amarelo{
    background-color: yellow;
}